@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");
* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font: 12px/1 'Montserrat', sans-serif;
  color: #333;
  background: #048e81;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  min-height: 100%;
}

.sidebar {
  position: absolute;
  width: 220px;
}

.content {
  /*flex: 1;*/
  width: 100%;
  padding: 30px;
  background: #eee;
  box-shadow: 0 0 5px black;
  transform: translate3d(0, 0, 0);
  transition: transform .3s;
  font-size: 20px;
}

.content.isOpen {
  transform: translate3d(220px, 0, 0); 
  width: 86%; 
}

.button {
  cursor: pointer;
}

.button:before {
  content: '\f0c9';
  font: 42px fontawesome;
}

/* Demo Navigation */
.title {
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #eee;
  border-bottom: 1px solid #222;
  background: #1f2f33;
}

#nav > li > a {
/*  position: relative;
  display: block;
  padding: 15px 15px 15px 50px;
  font-size: 12px;
  color: #eee;
*/
 background: #048e81;
/*border-bottom: 1px solid #009688;
border-top: 1px solid #009688;*/
box-shadow: inset -5px 0 0 hsla(0, 0%, 0%, .2), inset 0 20px 0 #009688;
  color: #ddd;
  display: block;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  padding: 0 45px;
  text-align: left;
  text-decoration: none;
  text-shadow: 0 -1px 1px hsla(0, 0%, 0%, .5);
  transition: all 300ms;
  /*border-bottom: 1px solid #222;*/
}

#nav > li > a:hover{
   background: #048e81;
  border-top-color: #009688;
  box-shadow: 
    inset -5px 0 0 #3a3a3a,
    inset 0 20px 0 #009688
  ;
  color: #fff;
  outline: 0  ;
  padding: 0 50px;
  transition: all 300ms;
}

#nav > li > a:before {
  font: 14px fontawesome;
  position: absolute;
  top: 14px;
  left: 20px;
}

#nav li:nth-child(1) a:before {
  content: '\f00a';
}
#nav li[data-content=allorders] a:before{
  content: '\f007';

} 

#nav li[data-menu='supplier'] a:before{
    content: '\f1e7';
}

#nav li[data-menu='inventory'] a:before{
    content: '\f16b';
}
#nav li[data-content=forums] a:before{
    content: '\f1d7';
}
#nav li[data-content=settings] a:before{
    content: '\f013';
}
#nav > li >a:hover {
  background: #048e81;
}

#nav li a.active {
  box-shadow: inset 5px 0 0 #f44336, inset 6px 0 0 #009688;
  background: #334f56;
  color:  white;
}

/* Demo Description */
h1 {
  margin: 25px 0 15px;
  font-size: 28px;
  font-weight: 400;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color: #999;
}


ul.sub-menu {
    background-color: #6c6c6c;
}

ul.sub-menu li a { 
       background: #30484c;
    box-shadow: inset -5px 0 0 hsla(0, 0%, 0%, .2), inset 0 20px 0 #30484c;
      border:   0px;
  color: #bbb;
  display: block;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  padding: 0 51px;
  text-align: left;
  text-decoration: none;
  text-shadow: 0 -1px 1px hsla(0, 0%, 0%, .5);
  transition: all 300ms;
}
.sub-menu li a:hover{
   background: #334f56;
  border-top-color: #3a3a3a;
  box-shadow: 
    inset -5px 0 0 #3a3a3a,
    inset 0 20px 0 #334f56
  ;
  color: #ddd;
  outline: 0  ;
  padding: 0 50px;
  transition: all 300ms;
}

ul.sub-menu li a:before {
     content:"" !important;
}

ul#nav > li > a[data-toggle=collapse]:after {content: "+";float: right; font-size:18px; margin-top:-5px;    position: absolute; right: 9px; cursor: pointer;  }
ul#nav > li > a[aria-expanded=true]:after {content: "-";}


div.header-wrap{
      position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 13px 23px;
    border-bottom: 1px solid #ddd;
        background: white;
}

