span.badgenew {
    position:absolute;
    top:-2em;
    right: 0.5em;
 
    width: 1.5em;
    height: 1.5em;
 
    line-height:1.5em;
    text-align:center;
 
    ont-family:'Helvetica Neue', Helvetica, sans-serif;
    font-weight:bold;
    color:#fff;
    text-shadow:0px 1px 0px rgba(0,0,0,.15);
 
    -webkit-box-shadow:
        inset 0px 1px 0px rgba(255,255,255,35),
        0px 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow:
        inset 0px 1px 0px rgba(255,255,255,.35),
        0px 1px 1px rgba(0,0,0,.2);
    box-shadow:
        inset 0px 1px 0px rgba(255,255,255,.35),
        0px 1px 1px rgba(0,0,0,.2);
 
    -webkit-border-radius:4em;
    -moz-border-radius:4em;
    border-radius:4em;
 
    opacity:0;
filter: alpha(opacity=0);
 
    -webkit-transition: .3s top ease-in, .3s opacity ease-in;
    -moz-transition: .3s top ease-in, .3s opacity ease-in;
    -o-transition: .3s top ease-in, .3s opacity ease-in;
    -ms-transition: .3s top ease-in, .3s opacity ease-in;
    transition: .3s top ease-in, .3s opacity ease-in;
}

.pink {
    background-image: -webkit-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: -moz-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: -o-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: -ms-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f78297', EndColorStr='#f46677');
 
    border:1px solid #ce4f5e;
}
.yellow {
    background-image: -webkit-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 72));
    background-image: -moz-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 72));
    background-image: -o-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 72));
    background-image: -ms-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 72));
    background-image: linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 72));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#feda71', EndColorStr='#feba48');
 
    border:1px solid #dea94f;
}
.blue {
    background-image: -webkit-linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    background-image: -moz-linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    background-image: -o-linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    background-image: -ms-linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    background-image: linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ace4f8', EndColorStr='#6ccdf3');
 
    border:1px solid #79b5cb;
}

.menu li:hover a {
    color: #343434;
}
 
.menu li:hover a span {
    top:-1em;
    opacity:1;
filter: alpha(opacity=100);
}