 

body{
    font-family: Arial, sans-serif !important;
}
 
/*MAINTENANCE - TABLE*/

div.table-wrap{
  width: 100%;
  padding: 0px;
}

div.table-group{
  padding-top: 12px;

}

/*ROW EDIT STYLE*/
table.list-table tbody tr.on-edit{
     /*background-color: #fffff2 !important; */
}

table.list-table tbody tr.on-edit > td:not(:first-child){
    text-align: left !important;
     background-color: #fffff2 ;   
}

 
/*MODAL STYLE*/

.form-wrap{
  padding: 35px 20px;
}


span.enter-here{
  font-style: italic;
  color: gray;
}
td.required:before{
  content: "*";
  width: 10px;
  color:red;
}

td.required input{
  background-color:#fff2f2 !important; 
}

p.message{
  color: red;
  font-size: 12px; 
  display: none;
}

asterisk{
  color: red;
}






/* MOBILE VIEW*/
 @media screen and (max-width: 767px) {
   div.table-wrap{
    width: 100%;
   }
   .btn-action-group{
    float: right;
   }




   /*ROW EDIT STYLE */
   table.list-table tbody tr.on-edit  > td:not(:first-child){
      text-align: right !important;
   }

   /*MODAL DIALOG STYLE*/
   .modal-dialog.form {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .modal-content.form {
      height: auto;
      min-height: 100%;
      border-radius: 0;
    }
    .modal-body.form {
      width: 100%;
      max-height: calc(100vh - 140px);
      overflow-y: auto;
      overflow: auto;
      margin: 0;
      padding: 0;
    }


    .modal-footer.form{
      bottom: 0;
      position: absolute;
      width: 100%;

    }

    #btn-add{
      position: fixed !important;
      bottom: 10px;
      right: 10px;
      z-index: 1049;
      opacity: 0.8;
      background-color:   #4caf50 !important;
      border-color:   #4caf50 !important;
      width: 70px;
      height: 70px;
      border-radius: 50%
    }

}


span[data-mode=edit]{
    display:none;
}







/*SCROLL BAR*/
::-webkit-scrollbar {
width: 10px;
height: 15px;
}


::-webkit-scrollbar-track-piece  {
background-color: #fff;
filter: alpha(opacity=40); /* internet explorer */
opacity: 0.4; /* fx, safari, opera, chrome */
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=40)"; /*IE8*/
}

::-webkit-scrollbar-thumb:vertical {
height: 20px;
border-radius: 5px;
width: 5px;
background-color: #ccc;
filter: alpha(opacity=40); /* internet explorer */
opacity: 0.4; /* fx, safari, opera, chrome */
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=40)"; /*IE8*/

transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #666;
  transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
} 