<!DOCTYPE>
<html>
<head>
	<title></title>
</head>
<body>

<form action="http://developer.globelabs.com.ph/oauth/access_token" method="post">
	<input type="text" name = "app_id" value ="dGo5fEd97jF5bcboMpT9yAFzMGaGf97b"/>
	<input type="text" name = "app_secret" value ="50f5f4dca402216a46ae3947468338aa315ef1b6558034d80fd4a1fb3b00c874"/>
	<input type="text" name = "code" value ="xBt9qekKuERzqLfrqrGBsnzxGbS9RLk6uE9Br4H87MM5fbRaqntLBL6ACabd4pIjX9BAubpeByCMzpA4heKKKAud7e6KfoRjrahRBLpzFXdEzgsanerkIBrBaetq5idRndMiBnLtKGeRaIERE8XsE8LBXFAGj9qhaxeq8fyEKGMurKp5Xhg6eLpC5e99gueMdRdIB9LpgCn5akytdaMj7fRBBjrHjdLEduApx7BSynrXxsjXzBefxReL6u7ryLBt"/>
	<input type="submit" value="get access_token">
</form>

</body>
</html>