<!DOCTYPE>
<html> 
<head>
	<title></title>
</head>
<body>

<form action="http://developer.globelabs.com.ph/oauth/access_token" method="post">
	<input type="text" name = "app_id" value ="dGo5fEd97jF5bcboMpT9yAFzMGaGf97b"/>
	<input type="text" name = "app_secret" value ="50f5f4dca402216a46ae3947468338aa315ef1b6558034d80fd4a1fb3b00c874"/>
	<input type="text" name = "code" value ="ybsbr4EgIKpab7UB5Kn6SBGKbXFy8X47fbkx7aHoyrxqH4kor8HerxKXsz9AMnHb5ApBuEaa6nC7Ra6zhApg9ACKnKK8Cbqyn4HEadERSoBrpdFGAe7jtLKBEoC7kcR9o6dcB8GCdXeyxt6er7zFyRdjdSLyydrH8aKx5CBGgRLCEzaephxyaReC7EAMEu8AAxXHzoxMrsKzoanHG9rdkH5zxknH4jXBqfaEKRAFM9KjrSLraaBUMR4qnI579Ajs"/>
	<input type="submit" value="get access_token">
</form>

</body>
</html>