<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<meta content='IE=9' http-equiv='X-UA-Compatible'>
<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","errorBeacon":"bam.nr-data.net","licenseKey":"f96468dd4a","applicationID":"9395647","transactionName":"dlldERdbDlQGRhgOVUBCW0oKVRdMCw==","queueTime":0,"applicationTime":15,"agent":""}</script>
 <meta content='width=device-width' name='viewport'>
<title>Globe</title>
<link href="http://developer.globelabs.com.ph/assets/application-d3a6940290bf116c8b5b9cb370991b6b.css" media="all" rel="stylesheet" type="text/css" />
<link href="http://developer.globelabs.com.ph/assets/globe-ipp-8c9eea490cf49506d0e327e2740f110a.css" media="all" rel="stylesheet" type="text/css" />
<link href="http://developer.globelabs.com.ph/assets/globe-favicon-bb805fc348db21ee922768542dba07e0.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />

<script src="http://developer.globelabs.com.ph/assets/application-084bd2db72c2faf6417cdf470f4cf579.js" type="text/javascript"></script>

<script>$(document).foundation();</script>
</head>
<body style='background-color: #ffffff'>
<div id='oauth_banner'></div>
<div class='content' id='content-grid' style='margin-top: 30px'>
<div class='row' id='body-row'>
<div class='large-12 columns' id='grid'>
<div class='large-6 columns large-offset-3'>
<div class='app-icon-show large-3 columns text-center'>
<img alt="Logo-home-app" src="https://ipp-web-logos.s3.amazonaws.com/uploads/app/icon/5160/logo-home-app.jpg" />
</div>
<h1 class='large-3 columns text-center'>Lampano Hardware Tradings</h1>
<div class='row'></div>
<p class='large-12 columns text-justify' id='mobile_tag' style='margin-bottom: 10px'>
To continue with your registration, we need to verify your identity
with your mobile number. Enter your 10 digit number(ex. 917xxxxxxxxx) to continue:
</p>
<div class='large-12 columns'>
<form accept-charset="UTF-8" action="http://developer.globelabs.com.ph/dialog/oauth/request_authorization" class="new_access_token" id="new_access_token" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="" /></div><input id="access_token_app_id" name="access_token[app_id]" type="hidden" value="dGo5fEd97jF5bcboMpT9yAFzMGaGf97b" />
<input id="access_token_subscriber_num" maxlength="10" name="access_token[subscriber_num]" placeholder="9XXXXXXXXX" size="10" type="text" />
<p id='wordscopes_tag' style='margin-top: -5px; margin-bottom: -15px'>This app would like to access your mobile number to allow:</p>
<p style='margin-bottom: 0px'>
<br>- to receive sms</br>
</p>
<p class='text-justify'></p>
<input class="button pull-right" id="grant" name="commit" type="submit" value="Grant" />
</form>

</div>
<div class='row'>
<br>
<br>
</div>
</div>
</div>
</div>
</div>
<div class='footer-globelabs large-12 columns'>
<div class='left' id='submenu'>
<a class='globelabs-logo' href='/'></a>
</div>
</div>
</body>
</html>
